@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Lato:wght@400;700&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-image: url("./assets/ventura-01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 36vh;
}

.nav-socials {
  display: none;
}

.nav-links {
  display: none;
}